<div class="inventory">
  <h1>Inventory Manager</h1>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Table"><app-inventory-table></app-inventory-table></mat-tab>
    <mat-tab label="Bar Chart">
      <h1>Inventory Dashboard</h1>
      <app-invetory-bar-chart></app-invetory-bar-chart>
    </mat-tab>
    <mat-tab label="Bar Chart">
      <h1>Stock fluctuations</h1>
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas>
    </mat-tab>
  </mat-tab-group>
</div>
