<div class="machines">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Charts">
      <div class="machines__charts">
        <div
          class="machine-pie-chart"
          *ngFor="let item of chartsData | keyvalue"
        >
          <h2>
            <a [routerLink]="['/machine-statuses', item.key]">{{ item.key }}</a>
          </h2>
          <app-pie
            [pieChartData]="item.value"
            [pieChartOptions]="pieChartOptions"
          ></app-pie>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Table"> </mat-tab>
  </mat-tab-group>
</div>
