<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
      <td mat-cell *matCellDef="let row">{{ row.department }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="machineId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Machine Id</th>
      <td mat-cell *matCellDef="let row">{{ row.machineId }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="machineName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.machineName }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="efficiency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Efficiency</th>
      <td mat-cell *matCellDef="let row">{{ row.efficiency }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="pressure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pressure</th>
      <td mat-cell *matCellDef="let row">{{ row.pressure }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperature</th>
      <td mat-cell *matCellDef="let row">{{ row.temperature }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{ row.status }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
